# Supabase Configuration
SUPABASE_URL=https://txxlwgpjqgffkexkyrnj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4eGx3Z3BqcWdmZmtleGt5cm5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY5OTk5OTksImV4cCI6MjA1MjU3NTk5OX0.vIvB-rSgZru-VRbx1g0l5A_JwEpTOhU

# Football Data API
FOOTBALL_API_TOKEN=9747e3521f4e4d82bb417f465c606180

# Server Configuration
PORT=3000

# Made with Bob